<!DOCTYPE HTML>
<html>
<head>
   <!-- <link rel="stylesheet" href="./app.component.css"> -->
</head>
<body>
        <div id="banner">
          <h2>BANNER </h2>
          <app-date (childEvent)="message=$event"></app-date>
        </div>
        <div id="left">
          <div id="menu" style="overflow:visible"> 
            <!-- <h2>menu</h2> -->
            <ul class="menu-items">
                <li class="menu-item" (click)="onSelect(division)" *ngFor="let division of divisions">
                  {{division.menu}} 
                </li>
          </ul>
        </div>
        <div id="content">
            <h3 style="text-align:center">AL: East</h3> 
                <router-outlet></router-outlet>
        </div>
        </div>
        <div id="right">
          <div class="advert1">
            $$$ 
            <nav>
              <a routerLink="/subscriptions" routerLinkActive="active">Departments</a>
              <a routerLink="/metrics" routerLinkActive="active">Metrics</a>

            </nav>
          </div>
          <div class="advert2"> 
            $$$
            {{message}}
          </div>
        </div>
        <div id="footer"> MY LEFT FOOT
            <div class="btn-group">
                <button>Apple</button>
                <button>Samsung</button>
                <button>Sony</button>
              </div>
        </div>
</body>

</html>
