#banner {
    background-color: red;
    width:100%;
    height:100px;
  }
  
  #left {
    margin: 0 0 0 ;
  }
  
  #right {
       margin: 0 0 0 66%;
       /* border-style: solid; */
  }
  
  
  #menu {
    background-color: green;
    width:66%;
    height:50px;
    float: left;
  }
  
  #content {
    background-color: orange;
    width:66%;
    height:300px;
    float:left;
  }
  
  .advert1 {
    background-color: yellow;
    height:175px;
  }
  
  .advert2{
    background-color: brown;
    height:175px;
  }
  #footer {
    background-color: black;
    width:100%;
    height:50px;
    clear:both;
  }
  
  td {
    border:0px solid black;
    height:25px;
    font-family:monospace;
    text-align:right;
    font-size: 15px;
  }
  th {
    border:px solid black; 
    font-family:monospace;
    text-align:right;
    font-size: 15px;
  }
  table {
    width:430px;
    border:0px solid black;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }